.images-grid {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 30px;
	grid-auto-columns: 1fr;
	grid-auto-rows: 1fr;
}

.images-grid ul li:nth-child(1) {
	grid-column: span 2;
	grid-row: span 2;
}
/* .images-grid .image:not(:nth-child(1)) {
	min-width: 300px;
	min-height: 300px;
} */
.image {
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 10px;
	position: relative;
	overflow: hidden;
	transition: 1s;
	cursor: pointer;
}
.image.selected {
	transition: 1s;
}
.image.notSelected:hover::before {
	content: '';
	width: 100%;
	height: 100%;
	background-color: rgba(80, 80, 80, 0.143);
	position: absolute;
	top: 0;
	left: 0;
}
.image.selected::before {
	content: '';
	width: 100%;
	height: 100%;
	background-color: rgba(80, 80, 80, 0.508);
	position: absolute;
	top: 0;
	left: 0;
}

.checkboxSelect {
	top: 20px;
	left: 20px;
	font-size: 40px;
	transform: scale(1.8);
	position: absolute;
	cursor: pointer;
}

.images-grid .image img {
	border-radius: 10px;
	width: 100%;
	height: 100%;
	object-fit: cover;
	aspect-ratio: 1 / 1;
	user-select: none;
}

.image-gallery-layout {
	background: #eef3f5;
	min-height: 100vh;
	padding-top: 50px;
	padding-bottom: 50px;
}

.image-gallery-wrap {
	background: #fff;
	border-radius: 15px;
	max-width: 1800px;
	margin: 0 auto;

	padding-bottom: 50px;
}
.top-bar-of-gallery {
	padding: 25px 50px;
	border-bottom: 1px solid #ddd;
	margin-bottom: 30px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 10px;
}
.image-gallery-box {
	padding-left: 50px;
	padding-right: 50px;
}

@media only screen and (max-width: 1400px) {
	.images-grid {
		grid-template-columns: repeat(4, 1fr);
		gap: 20px;
	}
}
@media only screen and (max-width: 950px) {
	.images-grid {
		grid-template-columns: repeat(3, 1fr);
		gap: 15px;
	}
	.image-gallery-box {
		padding-left: 20px;
		padding-right: 20px;
	}
}
@media only screen and (max-width: 550px) {
	.images-grid {
		grid-template-columns: repeat(2, 1fr);
		gap: 10px;
	}
	.image-gallery-box {
		padding-left: 10px;
		padding-right: 10px;
	}
}
